.nav_container{
    display: flex;
    padding: 1rem;
    align-items: center ;
    background:hsla(240, 4%, 9%, 0.078);
    justify-content: space-between;

    border-bottom:.5px solid #3d3d3d9c;
    
}

.app_logo{
    
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin-left: 1rem;
    margin-right: 1rem;
}

 
 
.app_logo img{
    width: 100%;
    filter: brightness(1);

}


.app_logo2{
        
    cursor: pointer;
    width: 70px;
    height: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.app_logo2 img{
    width: 100%;
}


.rightSide{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

 .movies_heading{
    border: 1px solid rgba(75, 113, 194, 0.975);
    color: rgb(172, 173, 188);
    padding: 0 .7rem;
    border-radius: 40px;


    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
   
     
}

 

.search_icon {
    font-size: 33px;
   
    margin-left: -1px;
    margin-bottom: -3px;
    margin-top: 7px;
}



.input_feild{
     width: 100%;
     display: flex;
     justify-content: center;
     border: .5px solid  hsla(0, 0%, 100%, 0.055);
     border-radius: 17px;
    background-color:transparent;
     align-items: center;
     padding: 5px;
}
.input_feild svg{
    margin: 0 25px;
    fill: white;
   
    stroke: rgba(255, 255, 255, 0.707);
}

.input_feild input{
    color: rgba(255, 255, 255, 0.686);
    border: none;
    outline: none;
    font-size: 18px;
    min-width: 170px;
    width: 270px;
    height:40px; 
   background-color:transparent;
    border-radius: 17px;
}

 
.movie_list_container{
    overflow-y: scroll;
    z-index: 10;
    max-height: 480px;
    max-width: 340px;
    margin-top: 15px;
    position: absolute;  
    border-radius: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.153);
    
}

.movie_list{
     display: flex;
     flex-direction: column;
     align-items: center;
     border-bottom: 1px solid rgba(255, 255, 255, 0.358);
     gap: 1.5rem;
     cursor: pointer;
     background-color: #111111;
    transition: all .2s ease;
    padding: 18px 0; 
}


.movie_list:hover {
    background-color: #2a2a2a9d;
}
 
.movie_list img{
    height: auto;
    width: 65%;
}

 
.movie-title{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.93);
    align-items: center;
    justify-content: center;
}
  
 .movie-title h3{
    text-align: center;
   font-size: 18px;
   line-height: 30px;
   margin-bottom: 10px;
   font-weight: 500;
 }
 

 @media screen and (max-width: 850px) {

    .app_logo2  {
        display: none;
    }
  
    .movie_list_container {
        max-height: 430px;
        max-width: 300px;
      }
    .input_feild input{
        width: 230px;

    }
 
  }


  @media screen and (max-width: 650px) {
    .movie_list_container {
        max-height: 380px;
        max-width: 270px;
        
      }
    .input_feild input{
   
        width: 200px;
  
    }
  }
   


@media screen and (max-width:550px) {
 
    
    .movie_list img{
        height: auto;
        width: 70%;
    }

    .input_feild{
        padding: .5px;
   }

   .input_feild svg{
    margin: 0 25px;
    width: 20px;
   }

   .movie_list_container {
    max-height: 350px;
    max-width: 250px;
  }
    .input_feild input{
         
        font-size: 16px;
    }

    .app_logo img{
        width: 65%;
    }

    .nav_container{
        padding:.4rem;
    }
    .movie-title{
        font-size: 14px;
    }
      
     .movie-title h3{
       font-size: 16px;
       line-height: 15px;
     }
     

    
.app_logo{
    
   
    width: 115px;
    height: 70px;
    margin: 0;
} }

 

@media screen and (max-width:450px) {
    
    .app_logo2 img , .app_logo img{
        width: 65%;
    }
    .input_feild input{
        width: 120px;
    }


    .nav_container{

        padding:.4rem;

    }

    
.app_logo{
    
    cursor: pointer;
    width: 115px;
    height: 70px;
    margin: 0;
}

.app_logo2{
 
    width: 85px;
    height: 50px;
    margin-right: -20px;
}
    
    
}


@media screen and (max-width:410px) {
    
    .input_feild{
        padding: .3px;
   }


   .movie_list_container {
    max-height: 320px;
    max-width: 210px;
  }
  .movie_list{
    padding-top: 12px;
  }
    .input_feild input{
        width: 150px;
        min-width: 120px;
        font-size: 15px;
    }

    .app_logo img{
        width: 60%;
    }

    .nav_container{
        padding:.7rem;
    }
 
     .movie-title h3{
       font-size: 16px;
       line-height: 20px;
     }
     
    
.app_logo{
    
   
    width: 115px;
    height: 70px;
    margin: 0;
} }

 