.nav_container{

    display: flex;
    padding: 1rem;

    align-items: center ;
  
    background-color: #010409;
   
    border-bottom: 1px solid rgba(255, 255, 255, 0.283);
    
    justify-content: space-between;
}

.app_logo{
    
    cursor: pointer;
    width: 90px;
    height: 90px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.app_logo2{
        
    cursor: pointer;
    width: 70px;
    height: 60px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.app_logo2 img{
    width: 100%;
}

.app_logo img{
    width: 100%;
    filter: brightness(1);

}
 .movies_heading{
    border: 1px solid rgba(75, 113, 194, 0.975);
    color: rgb(172, 173, 188);
    padding: 0 .7rem;
    border-radius: 40px;


    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
   
     
}

 

.search_icon {
    font-size: 33px;
   
    margin-left: -1px;
    margin-bottom: -3px;
    margin-top: 7px;
}






@media screen and (max-width:450px) {
    
    .app_logo2 img , .app_logo img{
        width: 65%;
    }

    .nav_container{

        padding:.4rem;

    }

    
.app_logo{
    
    cursor: pointer;
    width: 115px;
    height: 70px;
    margin: 0;
}

.app_logo2{
 
    width: 85px;
    height: 50px;
    margin-right: -20px;
}
    
    
}

@media screen and (max-width:370px) {
    
}

@media screen and (max-width:350px) {
     
}