 
 .content_container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    gap: 5rem;
    padding: 2rem 6rem;
    background:transparent;
    margin-top: 2rem;
    border: none;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(23, 10, 11) 34%, rgb(24, 24, 24) 63%, rgba(0,0,0,1) 100%); 
    backdrop-filter: blur(30px); /* Blur effect */
    -webkit-backdrop-filter: blur(30px);
    margin-bottom: 2rem;
}

.movie_details{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    align-items: center;

}



.h2_heading{
    font-size: 2.4rem;
    color:#417cba;
    font-weight: 500;
    margin-bottom: 1.5rem;
    
}

.yr_rating_Rela_group{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-bottom: 1.5rem;
    
  font-family: "Open Sans", sans-serif;
}

.yr_rating_Rela_group strong{
          margin-bottom: .2rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: white;
          
} 

.yr_rating_Rela_group .text_p {
    color: #b7cef1;
    font-size: 1rem;
    text-transform: capitalize;
}

.text_p{
    margin-bottom: 1rem;
}

.text_p .genre_custom{
    border: 1px solid #5991e6;
    border-radius: 40px;
    padding: 7px 1rem;
    margin-right: 10px;
    display: inline-block;
    margin-bottom: 1rem;
}

 


.about{
    margin: 1.5rem 0;
     color: rgb(215, 224, 234);
     font-family: "Open Sans", sans-serif;
     line-height: 35px;
}


.custom_lines{
    border-top: 1px solid rgba(128, 128, 128, 0.733);
    padding: 1rem 10px;
    margin-right: .5rem;
    width:170px;
    
}


.custom_lines:last-child{
    border-bottom: 1px solid  rgba(128, 128, 128, 0.733);
    padding-bottom: 2rem 10px;
}

.last_3strong {
    color: #b1ccf5;
   margin-right: 5px;
   display: block;
   font-weight: 600;
   letter-spacing: 1px;
}
 
.poster_img img{
      border: 1px solid  rgba(128, 128, 128, 0.126);
      border-radius: 25px;
      box-shadow: 0 0 15px rgba(255, 255, 255, 0.096);
}



@media screen and (max-width:1140px) {

    .content_container{
        flex-direction: column;
        gap: 1rem;
        text-align: center; 
        display: flex;
        align-items:center;
        gap: 1rem;
        margin-bottom: 0;
            margin-top: .2rem;
}
    .yr_rating_Rela_group{
         justify-content: center;
         margin-top: 15px;
    }

    .h2_heading{
        font-size: 2rem;
        line-height: 65px;
    }

    .movie_details{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
    }
    .movie_details_left{
        margin-bottom: 3rem;
    }

    .custom_lines{
      
        padding: 1rem 10px;
        margin-right: .5rem;
        width:370px;
        
    }
    
     /*
    .custom_lines:last-child{
        border-bottom: none;
    }
    .custom_lines{
         line-height: 1.7rem;
    } */
    

}


 @media screen and (max-width:540px){
    .content_container{   
        
        padding: 2rem 1rem;
        padding-top: 3rem;
        margin-top: 0;
      }

          .h2_heading{
          font-size: 1.7rem;
    }
    .yr_rating_Rela_group strong{
        margin-bottom: .2rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: white;
} 

 

 }

 @media screen and (max-width:526px){
    .yr_rating_Rela_group{
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        
    }

    .yr_rating_Rela_group strong {
        font-size: 19px;
  }

    .yr_rating_Rela_group .text_p {
        color: #b7cef1;
        font-size: 17px;
       
    }
    
 }


@media screen and (max-width:430px) {
  
    .yr_rating_Rela_group  {
        justify-content: center;
        margin-top: 10px;
        font-size: 16px;
        gap: .8rem;
        
       border: 1px solid rgba(158, 187, 225, 0.281);
       background-color: rgba(15, 14, 25, 0.174);
       border-radius: 20px;
       padding: 1rem;
     
    }

    .yr_rating_Rela_group strong {
          font-size: 17px;
    }

    .yr_rating_Rela_group .text_p {
        color: #b7cef1;
        font-size: 15px;
    }
    


    .custom_lines{
         width: 100%;
    }

    .about{
     font-size: 16px;
     line-height: 30px;
    }
    .text_p .genre_custom{
         font-size: 16px;
    }

    .h2_heading{
          font-size: 1.5rem;
          line-height: 50px;
    }
 

    .text_p .last_3strong {
        font-size: 17px;
    }
     .text_p, .custom_lines {
          font-size: 16px;
          line-height: 28px;
     }
     .content_container{
       gap: 1rem;
       padding: 1rem;
       padding-top: 3rem;

       border-radius: 20px;
     }

     .poster_img img{
        width: 100%;
     }

     strong.last_3strong {
        color: #b1ccf5;
       margin-right: 5px;
       font-weight: 500;
    }

}