
 .wrapper{
  
   padding: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 80vh;
 }

.movie_list_container{
    max-height: 460px;
    overflow-y: scroll;
    z-index: 10;
    max-width: 400px;
    background-color: #1c1b1b;
    margin-top: 10px;
    margin-bottom: 4rem;
    
   

}

 
.movie_list{
    border-bottom: 1px solid rgba(255, 255, 255, 0.358);
    display: flex;
    gap: 2rem;
    background-color: #1c1b1b;
    align-items: center;

    padding: 1rem;
    cursor: pointer;
    
}

.movie_list:hover {
  background-color: #b0a7a729;
}

.movie-title{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.movie-title h3{
  font-size: 1.1rem;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

.movie_list img{
   
     height: auto;
     width: 30%;
}


.input_feild{
 
  width: 100%;
   display: flex;
   margin-bottom: 1rem;
   margin-top: 6rem;
   justify-content: center;
   
}

.input_feild input{
      width: 400px;
      font-size: 1rem;
      height:40px; 
      /* border-top-right-radius: 10px;
      border-top-left-radius: 10px; */
      border-radius: 5px;
      padding: 1.2rem;

}

 

@media screen and (max-width:430px) {
  .movie-title h3{
    font-size: .9rem;
    line-height: 22px;
    margin-bottom: 10px; 
    font-weight: 500;
  }
  
  .movie-title p{
    font-size: .8rem;
  }

 
 
}


 