.homePage{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(23, 10, 11) 34%, rgb(24, 24, 24) 63%, rgba(0,0,0,1) 100%); 
    backdrop-filter: blur(30px); /* Blur effect */
    -webkit-backdrop-filter: blur(30px);
}